aside {
  padding: 2rem;
}

.project-title {
  position: relative;
}

.project-title h2 {
  font-size: 1.8rem;
  margin-left: 10px;
}

.project-title .title {
  display: flex;
  justify-content: space-between;
  padding-bottom: 1.8rem;
}

.project-title .title span {
  font-size: 1.2rem;
}

.project-title .tooltip {
  visibility: hidden;
  font-family: inherit;
  font-size: 0.7rem;
  font-weight: 600;
  padding: 4px;
  border-radius: 2px;
  /* border: 1px solid blue; */
  border: 1px solid rgb(0, 0, 0);
  /* background-color: #010e1a; */
  background-color: #000000;
  /* color: #0174e3; */
  color: #ffffff;
  position: absolute;
  bottom: 4px;
  right: -2rem;
  z-index: 1;
}

.new-button {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 4px;
  font-size: 0.95rem;
  font-weight: 600;
  border: none;
  border-radius: 2px;
  background-color: #238636;
  color: #ffffff;
  outline: none;
}

ul li {
  list-style: none;
}
.projects-container .project {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 12px;
  margin-left: -1rem;
  padding: 6px 10px;
}

.projects-container .project h3 {
  cursor: pointer;
  width: 140px;
}

.projects-container .project p {
  cursor: pointer;
  font-size: 0.8rem;
  display: flex;
  gap: 5px;
  align-items: center;
}

.projects-container .project p span {
  font-size: 1.3rem;
}

.projects-container .project .menu-button {
  width: 20px;
  height: 20px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: none;
  background-color: #141414;
}

.projects-container .project .menu-button img {
  width: 25px;
  height: 25px;
  filter: invert(1);
}

.menu-wrapper {
  position: relative;
}

.menu-wrapper .menu-options {
  position: absolute;
  left: 1.5rem;
  top: 0;
  border: 1px solid blue;
  background-color: #303030;
  color: #ffffff;
  border-radius: 4px;
  display: none;
  flex-direction: column;
  padding-top: 3px;
}

.menu-wrapper .menu-options .menu-item {
  padding: 8px 12px;
  cursor: pointer;
  margin-bottom: 4px;
}

.menu-options .delete {
  color: #ff2a2a;
  font-weight: bold;
}

.rename-wrapper {
  width: 100%;
  padding: 5px;
  display: none;
  justify-content: center;
  gap: 1rem;
}

.rename-wrapper #rename-input {
  padding: 3px 0px 3px 8px;
  font-size: 1rem;
  width: 180px;
  outline: none;
  border: 2px solid blue;
  border-radius: 3px;
}

.rename-wrapper > button {
  padding: 4px 10px;
  border: none;
  font-size: 15px;
  font-weight: bold;
  border-radius: 3px;
  cursor: pointer;
  background-color: #238636;
  color: #ffffff;
}

#projectDialog {
  border: 1px solid blue;
  border-radius: 4px;
  background-color: #303030;
  color: #ffffff;
  position: absolute;
  top: 9.3rem;
  left: 20rem;
  text-align: center;
}

#projectDialog input {
  outline: none;
  border: 2px solid #238636;
  padding: 4px;
  margin: 8px 0;
  border-radius: 4px;
  font-size: 16px;
  width: 150px;
}

#projectDialog div {
  margin-top: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#projectDialog div button {
  padding: 4px 10px;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
  border: none;
  border-radius: 2px;
}
#projectDialog div .create-btn {
  background-color: #238636;
  color: #ffffff;
}

#projectDialog input:invalid {
  border-color: #ff2a2a;
}

#projectDialog::backdrop {
  background-color: rgba(0, 0, 0, 0.555);
}

.menu-options .menu-item:hover {
  background-color: #202020;
}

.projects-container .project .menu-button:hover {
  background-color: #000000;
}

.projects-container .project:hover {
  background-color: #151616;
}

.projects-container .project p {
  margin-right: -3rem;
}
