.todo-project-name {
  margin: 2rem 0 8px 2rem;
}

.todos-container li {
  margin: 0 0 12px 1rem;
  padding: 6px;
}

.todos-container .todo {
  display: flex;
  gap: 6rem;
  margin-bottom: 1rem;
}

.todo-left {
  width: 300px;
}

.todo-right .todo-priority {
  width: 120px;
}

.todo-left,
.todo-right {
  display: flex;
  align-items: center;
  gap: 1rem;
  color: #fff;
  font-weight: bold;
}

.todo p {
  color: aqua;
}

.todo span {
  color: #ffffff;
  font-size: 14px;
}

.show-more-btn {
  width: 20px;
  height: 20px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: none;
  background-color: #141414;
}

.show-more-btn img {
  width: 25px;
  height: 25px;
  filter: invert(1);
}

.show-more-btn:hover {
  background-color: #000000;
}

.todo-more {
  display: none;
  align-items: start;
  gap: 1.5rem;
  margin-left: 10px;
}

.todo-more .btns button {
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: 15px;
  font-weight: bold;
  padding: 6px 8px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.todo-delete-btn {
  background-color: rgb(245, 129, 129);
  color: #ff0000;
}

.desc,
.notes {
  width: 150px;
}

.desc > p,
.notes > p {
  font-size: 0.78rem;
  line-height: 1.5;
  background-color: #000000;
  padding: 2px 3px 4px 10px;
}

.completed-todo-title {
  text-decoration: line-through;
  opacity: 0.5;
}

.todo-more > div > h4 {
  margin-bottom: 4px;
  color: aqua;
}

#creation-date-para,
#completion-para {
  margin-left: 4px;
  font-size: 12px;
}

.todos-container li:hover {
  background-color: #1d1f1f;
}

#newTodoDialog,
#updateTodoDialog {
  width: 600px;
  border: 1px solid blue;
  border-radius: 4px;
  background-color: #303030;
  color: #ffffff;
  position: absolute;
  top: 3rem;
  left: 26rem;
}

#newTodoDialog > form,
#updateTodoDialog > form {
  display: flex;
  flex-direction: column;
}

#newTodoDialog > form h3,
#updateTodoDialog > form h3 {
  align-self: center;
  margin-bottom: 1.8rem;
  font-size: 1.5rem;
}

#newTodoDialog input:invalid,
#updateTodoDialog input:invalid {
  border-color: #ff2a2a;
}

#newTodoDialog::backdrop,
#updateTodoDialog::backdrop {
  background-color: rgba(0, 0, 0, 0.555);
}

.todo-info-container {
  display: flex;
  justify-content: space-around;
  align-items: start;
  gap: 1rem;
}

.todo-info-left > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.3rem;
}

#select-priority {
  margin-left: 10px;
}

.todo-info-container input,
.todo-info-container select,
.todo-info-right textarea {
  width: 150px;
  padding: 4px 10px;
  outline: none;
  border: 1px solid blue;
  border-radius: 3px;
}

.todo-info-right {
  margin-top: -10px;
}

.todo-info-right textarea {
  display: block;
  margin-bottom: 12px;
  width: 180px;
  min-height: 50px;
  resize: vertical;
  overflow-y: auto;
}

.create-todo-btns,
.update-todo-btns {
  display: flex;
  justify-content: space-between;
  margin-top: 1.7rem;
  padding: 0 3rem;
}

.create-todo-btns button,
.update-todo-btns button {
  padding: 10px 24px;
  cursor: pointer;
  font-size: 1rem;
  font-weight: bold;
  border: none;
  border-radius: 2px;
}

.create-todo-btns .todo-create-btn,
.update-todo-btns .todo-save-btn {
  background-color: #238636;
  color: #ffffff;
}
